# Assignment 2

#### First Name: 
#### Last Name:

## 1. Load Data from JSON

In [38]:

from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("Twitter Analysis")\
.getOrCreate()

In [39]:
df_twitter = spark.read.json("corona_tweet_new.json")

In [40]:
df_twitter.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- favorite_count: long (nullable = true)
 |-- hashtags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- in_reply_to_status_id: string (nullable = true)
 |-- in_reply_to_user_id_str: string (nullable = true)
 |-- reply_count: long (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- source: string (nullable = true)
 |-- user: struct (nullable = true)
 |    |-- contributors_enabled: boolean (nullable = true)
 |    |-- created_at: string (nullable = true)
 |    |-- default_profile: boolean (nullable = true)
 |    |-- default_profile_image: boolean (nullable = true)
 |    |-- description: string (nullable = true)
 |    |-- favourites_count: long (nullable = true)
 |    |-- follow_request_sent: string (nullable = true)
 |    |-- followers_count: long (nullable = true)
 |    |-- following: string (nullable = true)
 |    |-- friends_count: long (nullable = true)
 |    |-- geo_enabled: boolean (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- id_str: string (nullable = true)
 |    |-- is_translator: boolean (nullable = true)
 |    |-- lang: string (nullable = true)
 |    |-- listed_count: long (nullable = true)
 |    |-- location: string (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- notifications: string (nullable = true)
 |    |-- profile_background_color: string (nullable = true)
 |    |-- profile_background_image_url: string (nullable = true)
 |    |-- profile_background_image_url_https: string (nullable = true)
 |    |-- profile_background_tile: boolean (nullable = true)
 |    |-- profile_banner_url: string (nullable = true)
 |    |-- profile_image_url: string (nullable = true)
 |    |-- profile_image_url_https: string (nullable = true)
 |    |-- profile_link_color: string (nullable = true)
 |    |-- profile_sidebar_border_color: string (nullable = true)
 |    |-- profile_sidebar_fill_color: string (nullable = true)
 |    |-- profile_text_color: string (nullable = true)
 |    |-- profile_use_background_image: boolean (nullable = true)
 |    |-- protected: boolean (nullable = true)
 |    |-- screen_name: string (nullable = true)
 |    |-- statuses_count: long (nullable = true)
 |    |-- time_zone: string (nullable = true)
 |    |-- translator_type: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- utc_offset: string (nullable = true)
 |    |-- verified: boolean (nullable = true)

In [41]:
### From the user nestec col select the following cols only id_str,followers_count,friends_count and created at 
# (2 points)
from pyspark.sql.functions import col 
df_twitter=df_twitter.<FILL_IN>

In [42]:
df_twitter.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- favorite_count: long (nullable = true)
 |-- hashtags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- in_reply_to_status_id: string (nullable = true)
 |-- in_reply_to_user_id_str: string (nullable = true)
 |-- reply_count: long (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- source: string (nullable = true)
 |-- user_id_str: string (nullable = true)
 |-- user_followers_count: long (nullable = true)
 |-- user_created_at: string (nullable = true)

In [ ]:
# Print the total count of number of records in df_twitter(1 point)
df_twitter.count()

In [44]:
# Extract the source lable from source col by droping the anchor tab and save it as another col named extracted_source
# for example <a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a> => Twitter Web App
# you can use "<a [^>]+>([^<]+)" as regualr expresion and the group would be 1 for this regular expression.
#(4 points)
from pyspark.sql.functions import regexp_extract, col

df_twitter=df_twitter.<FILL_IN>
df_twitter.select(col('extracted_source'),col('source')).show()

+-------------------+--------------------+
|   extracted_source|              source|
+-------------------+--------------------+
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
|    Twitter Web App|<a href="https://...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
|    Twitter Web App|<a href="https://...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
|    Twitter Web App|<a href="https://...|
|Twitter for Android|<a href="http://t...|
|    Twitter Web App|<a href="https://...|
+-------------------+--------------------+
only showing top 20 rows

In [45]:
# Convert the DataFrame into RDD
rdd_twitter=df_twitter.rdd.map(tuple)

In [ ]:
# Create a temporay table in memory with name as twitter (1 point)

## 2. Analyze Data

#### You will be writing code to find the answer to the questions listed below using Just RDD, Using spark SQL 

- Analyze using RDD 
- Analyze using Dataframe without temp table 
- Analyze using spark.sql with temp table

#### 2.1 Get total number of unique users (1 point for each type)

In [48]:
# Using RDD

In [ ]:
# Using DataFrame

In [50]:
# Using spark.sql and the temporay table.

#### 2.2 Get count of user who have more than 1 tweet in the data (2 points)

In [51]:
# Using RDD

In [52]:
# Using DataFrame

In [53]:
# Using spark.sql and the temporay table.

#### 2.3 Get total number unique extracted_source (1 point each)

In [54]:
# Using RDD

In [55]:
# Using DataFrame

In [56]:
# Using spark.sql and the temporay table.

#### 2.4 Get top 5 most used extracted_source

In [57]:
# Using RDD (5 points)

In [58]:
# Using DataFrame (2 points)

In [59]:
# Using spark.sql and the temporay table. (2 points)

#### 2.5 Get count of distinct hastags used ( 5 point each)

In [60]:
# Using RDD

In [61]:
# Using DataFrame

In [62]:
# Using spark.sql and the temporay table.

#### 2.6 Get top 5 hashtags

In [63]:
# Using RDD (4 points)

In [64]:
# Using DataFrame (2 points)

In [84]:
# Using spark.sql and the temporay table. (2 points)

#### 2.6 Get total number of tweets which are retweeted more than 100 times

In [85]:
# Using RDD

In [86]:
# Using DataFrame

In [87]:
# Using spark.sql and the temporay table.

#### 2.8 Get top 3 most retweeted tweets per country (8 points)

In [88]:
# Using RDD

In [89]:
# Using DataFrame

In [90]:
# Using spark.sql and the temporay table.

#### 2.9 Total number of tweets per country

In [91]:
# Using RDD (3 points)

In [92]:
# Using DataFrame (2 points)

In [93]:
# Using spark.sql and the temporay table. (1 point)

## 3. Save Data

#### 3.1 save the data such that you have seperate folder per country (2 points)

In [94]:
# Using DataFrame

#### 3.2 Save the data as parquet files (1 points)

In [95]:
# Using DataFrame